In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame([["A",3],
                   ["C",1],
                   ["B",2]],
                 # index = ["A", "B", "C"],
                  columns = ["class", "value"])
df

  class  value
0     A      3
1     C      1
2     B      2

In [4]:
df = df.sort_values(by = "class", ascending=True)
df

  class  value
0     A      3
2     B      2
1     C      1

In [5]:
df.sort_values(by = "class", ascending=False)

  class  value
1     C      1
2     B      2
0     A      3

In [6]:
ser = pd.Series([pd.NA, "c", pd.NA, "a"])
ser

0    <NA>
1       c
2    <NA>
3       a
dtype: object

In [8]:
ser.sort_values()

3       a
1       c
0    <NA>
2    <NA>
dtype: object

In [9]:
ser.sort_values(ascending=False)

1       c
3       a
0    <NA>
2    <NA>
dtype: object

In [10]:
df.sort_values(["class", "value"], ascending=[False,True])

  class  value
1     C      1
2     B      2
0     A      3

In [11]:
ser = ser.reset_index(drop=True)

In [12]:
ser

0    <NA>
1       c
2    <NA>
3       a
dtype: object