In [8]:
import pandas as pd
import scipy.stats as sp
from matplotlib import pyplot as plt

In [5]:
df = pd.read_csv("./data/bike.csv")
df["temp"].kurtosis()

-0.9145302637630794

In [6]:
df["temp"].skew()

0.003690844422472008

In [9]:
df = pd.read_csv("./data/diamonds.csv")
df.head(2)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

In [10]:
df["carat"].mean()

0.7979397478679852

In [14]:
df["carat"].agg(["mean", "max", "std", "var", "kurt", "skew"])

mean    0.797940
max     5.010000
std     0.474011
var     0.224687
kurt    1.256635
skew    1.116646
Name: carat, dtype: float64

In [42]:
df[["carat", "price"]].agg(["mean", "max", "std", "var", "kurt"]).transpose()

              mean       max          std           var      kurt
carat     0.797940      5.01     0.474011  2.246867e-01  1.256635
price  3932.799722  18823.00  3989.439738  1.591563e+07  2.177696

In [ ]:
df.round()