In [1]:
from scipy.stats.stats import pearsonr
import pandas as pd

In [3]:
df = pd.read_excel("./data/iris_xlsx.xlsx")
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
pearsonr(df["Sepal.Length"], df["Sepal.Width"])

(-0.11756978413300205, 0.15189826071144918)

In [7]:
stat, p = pearsonr(df["Sepal.Length"], df["Sepal.Width"])
print("stat ", round(stat,4), " / p-value ", round(p,4))

stat  -0.1176  / p-value  0.1519

In [8]:
stat, p = pearsonr(df["Petal.Length"], df["Petal.Width"])
print("stat ", round(stat,4), " / p-value ", round(p,4))

stat  0.9629  / p-value  0.0

In [9]:
df.corr()

              Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Sepal.Length      1.000000    -0.117570      0.871754     0.817941
Sepal.Width      -0.117570     1.000000     -0.428440    -0.366126
Petal.Length      0.871754    -0.428440      1.000000     0.962865
Petal.Width       0.817941    -0.366126      0.962865     1.000000

In [10]:
from scipy.stats import chi2_contingency

In [11]:
df = pd.read_csv("./data/traffic_accident.txt", sep = "\t")

In [13]:
df.head()

   seq sex serious_yn  age
0    1   M          N    3
1    2   M          N    6
2    3   M          N    4
3    4   M          N    4
4    5   F          N    3

In [14]:
pd.crosstab(df["serious_yn"],df["age"])

age           2    3    4    5    6
serious_yn
N           199  206  210  182  169
Y            15   14   21   24   27

In [15]:
chi2_contingency(pd.crosstab(df["serious_yn"],df["age"]))

(9.410466679276956,
 0.051619825959927854,
 4,
 array([[193.74320525, 199.17525773, 209.13402062, 186.5004686 ,
         177.4470478 ],
        [ 20.25679475,  20.82474227,  21.86597938,  19.4995314 ,
          18.5529522 ]]))