In [1]:
import pandas as pd
from scipy.stats import ttest_1samp

In [3]:
df = pd.read_csv("./data/bike.csv")
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [4]:
df["workingday"].unique()

array([0, 1], dtype=int64)

In [5]:
from scipy.stats import ttest_ind

In [6]:
ttest_ind(df.loc[df["workingday"] == 1, "registered"],
          df.loc[df["workingday"] == 0, "registered"],)

Ttest_indResult(statistic=12.552707000266874, pvalue=6.806493719916074e-36)

In [15]:
df.groupby("workingday")["registered"].mean().reset_index()

   workingday  registered
0           0  129.198330
1           1  167.904209

In [16]:
df["datetime"] = pd.to_datetime(df["datetime"])

In [18]:
df["wday"] = df["datetime"].dt.weekday

In [19]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,wday
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,5

In [20]:
df["wday"].unique()

array([5, 6, 0, 1, 2, 3, 4], dtype=int64)

In [22]:
df["wend"] = (df["wday"] >= 5) + 0

In [23]:
pd.crosstab(df["wday"], df["wend"])

wend     0     1
wday
0     1551     0
1     1539     0
2     1551     0
3     1553     0
4     1529     0
5        0  1584
6        0  1579

In [24]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,wday,wend
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,5,1
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,5,1

In [25]:
ttest_ind(df.loc[df["wend"] == 1, "casual"],
          df.loc[df["wend"] == 0, "casual"])

Ttest_indResult(statistic=34.20622323223231, pvalue=1.1588324471094126e-243)