In [1]:
from sklearn.naive_bayes import GaussianNB
import pandas as pd

In [2]:
df = pd.read_csv("./data/diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [3]:
clf = GaussianNB()

In [5]:
clf_fit = clf.fit(df.drop("Outcome", axis=1),
                 df["Outcome"])
clf_fit

GaussianNB()

In [6]:
clf_fit.class_prior_

array([0.65104167, 0.34895833])

In [9]:
df["Outcome"].value_counts(normalize=True)

0    0.651042
1    0.348958
Name: Outcome, dtype: float64

In [10]:
clf_fit.predict_proba(df.drop("Outcome", axis=1))

array([[0.32850606, 0.67149394],
       [0.98050589, 0.01949411],
       [0.19891096, 0.80108904],
       ...,
       [0.93094376, 0.06905624],
       [0.85706474, 0.14293526],
       [0.97738164, 0.02261836]])

In [11]:
arr_proba = clf_fit.predict_proba(df.drop("Outcome", axis=1))

In [13]:
df_proba = pd.DataFrame(arr_proba,
                       columns=["p_0","p_1"])
df_proba.head()

        p_0       p_1
0  0.328506  0.671494
1  0.980506  0.019494
2  0.198911  0.801089
3  0.986822  0.013178
4  0.000217  0.999783

In [14]:
df_proba.iloc[[0],]

        p_0       p_1
0  0.328506  0.671494

In [15]:
df_proba.iloc[[0],].transpose()

            0
p_0  0.328506
p_1  0.671494

In [18]:
df_proba.iloc[[0],].transpose().idxmax()

0    p_1
dtype: object

In [19]:
df_proba.iloc[0].transpose().idxmax()

'p_1'

In [24]:
df_proba.apply(lambda x: x.reset_index(drop=True).idxmax(), axis = 1)

0      1
1      0
2      1
3      0
4      1
      ..
763    1
764    0
765    0
766    0
767    0
Length: 768, dtype: int64

In [25]:
df_proba["apply"] = df_proba.apply(lambda x: x.reset_index(drop=True).idxmax(), axis = 1)

In [26]:
df_proba.head()

        p_0       p_1  apply
0  0.328506  0.671494      1
1  0.980506  0.019494      0
2  0.198911  0.801089      1
3  0.986822  0.013178      0
4  0.000217  0.999783      1

In [27]:
pd.crosstab(df["Outcome"], df_proba["apply"])

apply      0    1
Outcome
0        421   79
1        103  165