In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.listdir('./')

['.ipynb_checkpoints',
 'gender_submission.csv',
 'submission.csv',
 'test.csv',
 'titanic_analysis01.ipynb',
 'titanic_analysis02.ipynb',
 'titanic_analysis03.ipynb',
 'train.csv']

In [3]:
df = pd.read_csv('./train.csv')
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [4]:
df_cabin = df[["Pclass","Ticket","Fare","Embarked", "Cabin"]]
df_cabin = df_cabin.dropna(how="any").reset_index(drop=True)
df_cabin

     Pclass    Ticket     Fare Embarked        Cabin
0         1  PC 17599  71.2833        C          C85
1         1    113803  53.1000        S         C123
2         1     17463  51.8625        S          E46
3         3   PP 9549  16.7000        S           G6
4         1    113783  26.5500        S         C103
..      ...       ...      ...      ...          ...
197       1     11751  52.5542        S          D35
198       1       695   5.0000        S  B51 B53 B55
199       1     11767  83.1583        C          C50
200       1    112053  30.0000        S          B42
201       1    111369  30.0000        C         C148

[202 rows x 5 columns]

In [32]:
tempList = []
def filterOutlier(x) :
    for i in x :
        if(i.find(' ')>0 or len(i) == 1):
            tempList.append(np.nan)
        else:
            tempList.append(i)
    return tempList

In [33]:
df_cabin["valid"] = df_cabin[["Cabin"]].apply(lambda x: filterOutlier(x))

In [34]:
df_cabin = df_cabin.dropna(how = "any").reset_index(drop = True)
df_cabin

     Pclass    Ticket     Fare Embarked Cabin valid
0         1  PC 17599  71.2833        C   C85   C85
1         1    113803  53.1000        S  C123  C123
2         1     17463  51.8625        S   E46   E46
3         3   PP 9549  16.7000        S    G6    G6
4         1    113783  26.5500        S  C103  C103
..      ...       ...      ...      ...   ...   ...
169       1  PC 17590  50.4958        S   A24   A24
170       1     11751  52.5542        S   D35   D35
171       1     11767  83.1583        C   C50   C50
172       1    112053  30.0000        S   B42   B42
173       1    111369  30.0000        C  C148  C148

[174 rows x 6 columns]

In [39]:
df_cabin["Cabin"].unique()
list = []
for i in df_cabin["Cabin"]:
    list.append(i[0])
ser = pd.Series(list)
print(ser.unique())

['C' 'E' 'G' 'D' 'A' 'B' 'F']

In [76]:
tempList=[]
def seperateFloor(x):
    for i in x:
        if pd.isna(i):
            tempList.append(np.nan)
        elif i[0] == 'A':
            tempList.append(7)
        elif i[0] == 'B':
            tempList.append(6)
        elif i[0] == 'C':
            tempList.append(5)
        elif i[0] == 'D':
            tempList.append(4)
        elif i[0] == 'E':
            tempList.append(3)
        elif i[0] == 'F':
            tempList.append(2)
        elif i[0] == 'G':
            tempList.append(1)
        else:
            tempList.append(np.nan)
    return tempList

In [77]:
df_cabin["Floor"] = df_cabin[["Cabin"]].apply(lambda x: seperateFloor(x))
df_cabin

     Pclass    Ticket     Fare Embarked Cabin valid  Floor
0         1  PC 17599  71.2833        C   C85   C85      5
1         1    113803  53.1000        S  C123  C123      5
2         1     17463  51.8625        S   E46   E46      3
3         3   PP 9549  16.7000        S    G6    G6      1
4         1    113783  26.5500        S  C103  C103      5
..      ...       ...      ...      ...   ...   ...    ...
169       1  PC 17590  50.4958        S   A24   A24      7
170       1     11751  52.5542        S   D35   D35      4
171       1     11767  83.1583        C   C50   C50      5
172       1    112053  30.0000        S   B42   B42      6
173       1    111369  30.0000        C  C148  C148      5

[174 rows x 7 columns]

In [53]:
from sklearn.linear_model import LinearRegression

In [55]:
lr_model = LinearRegression().fit(df_cabin[["Pclass", "Fare"]].join(pd.get_dummies(df_cabin[["Embarked"]])), df_cabin[["Floor"]])

In [56]:
df_x = df[["PassengerId", "Pclass", "Name", "Sex", "Age", "SibSp", "Parch", "Ticket", "Fare", "Embarked", "Cabin"]];
df_y = df[["PassengerId", "Survived"]];
df_x

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Cabin
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,NaN
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,C85
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,NaN
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,C123
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S,NaN
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S,B42
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,S,NaN
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C,C148
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q,NaN

In [62]:
df_x["Cabin"].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [5]:
# Pclass: A proxy for socio-economic status (SES) 1st = Upper 2nd = Middle 3rd = Lower
# Age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5
# SibSp: The dataset defines family relations in this way…
# Sibling = brother, sister, stepbrother, stepsister
# Spouse = husband, wife (mistresses and fiancés were ignored)
# Parch: The dataset defines family relations in this way…
# Parent = mother, father
# Child = daughter, son, stepdaughter, stepson
# Some children travelled only with a nanny, therefore parch=0 for them.

In [78]:
df_x["Floor"] = df_x[["Cabin"]].apply(lambda x: seperateFloor(x))
df_x

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Cabin,Floor
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,NaN,5.0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,C85,5.0
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,NaN,3.0
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,C123,1.0
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S,NaN,5.0
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S,B42,NaN
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,S,NaN,NaN
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C,C148,2.0
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q,NaN,5.0

In [6]:
df_x = df_x.dropna(how = 'any')
df_x

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...
885,886,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,Q
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q

In [7]:
df_x = df_x.merge(df_y, left_on="PassengerId", right_on = "PassengerId")
df_x

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Survived
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,1
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,1
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,0
...,...,...,...,...,...,...,...,...,...,...,...
707,886,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,Q,0
708,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S,0
709,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S,1
710,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C,1
711,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q,0

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
df_x = df_x.join(pd.get_dummies(df_x[["Sex"]]))
df_x

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Survived,Sex_female,Sex_male
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,0,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,1,1,0
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,1,1,0
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,1,1,0
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,886,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,Q,0,1,0
708,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S,0,0,1
709,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S,1,1,0
710,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C,1,0,1
711,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q,0,0,1

In [10]:
df_y = df_x[["Survived"]]
df_x = df_x[["Pclass","Age","SibSp","Parch","Fare"]].join(pd.get_dummies(df_x[["Sex","Embarked"]]))

In [11]:
lr_model = LinearRegression().fit(df_x, df_y)

In [12]:
df_test_x = pd.read_csv("./test.csv")
df_test_x = df_test_x[["PassengerId","Pclass","Age","SibSp","Parch","Fare"]].join(pd.get_dummies(df_test_x[["Sex","Embarked"]]))
df_test_x

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,892,3,34.5,0,0,7.8292,0,1,0,1,0
1,893,3,47.0,1,0,7.0000,1,0,0,0,1
2,894,2,62.0,0,0,9.6875,0,1,0,1,0
3,895,3,27.0,0,0,8.6625,0,1,0,0,1
4,896,3,22.0,1,1,12.2875,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,NaN,0,0,8.0500,0,1,0,0,1
414,1306,1,39.0,0,0,108.9000,1,0,1,0,0
415,1307,3,38.5,0,0,7.2500,0,1,0,0,1
416,1308,3,NaN,0,0,8.0500,0,1,0,0,1
417,1309,3,NaN,1,1,22.3583,0,1,1,0,0

In [13]:
df_test_x = df_test_x.fillna(df_test_x.mean())
df_test_y = df_test_x[["PassengerId"]]

In [14]:
result = lr_model.predict(df_test_x.drop("PassengerId",axis=1))

In [15]:
result

array([[ 0.03661737],
       [ 0.42310089],
       [ 0.04780154],
       [ 0.11729809],
       [ 0.57400381],
       [ 0.20089839],
       [ 0.55086184],
       [ 0.25364116],
       [ 0.72657106],
       [ 0.05725156],
       [ 0.0961302 ],
       [ 0.37353997],
       [ 0.96685927],
       [ 0.02611901],
       [ 0.80858876],
       [ 0.8286796 ],
       [ 0.22172586],
       [ 0.22192001],
       [ 0.55172841],
       [ 0.5531679 ],
       [ 0.3378489 ],
       [ 0.22113155],
       [ 0.96104377],
       [ 0.59671237],
       [ 0.87590807],
       [-0.08007892],
       [ 1.07579099],
       [ 0.21228655],
       [ 0.40653375],
       [ 0.06358561],
       [ 0.10960902],
       [ 0.22685895],
       [ 0.49429179],
       [ 0.51237171],
       [ 0.49808312],
       [ 0.23797661],
       [ 0.58154372],
       [ 0.64121524],
       [ 0.13030691],
       [ 0.10565841],
       [ 0.09684094],
       [ 0.47465408],
       [ 0.02722648],
       [ 0.77169817],
       [ 0.81974324],
       [ 0.12999812],
       [ 0.44705757],
       [ 0.06375157],
       [ 0.84524071],
       [ 0.5249167 ],
       [ 0.4706882 ],
       [ 0.37235034],
       [ 0.7255736 ],
       [ 0.84718154],
       [ 0.35143978],
       [-0.01578592],
       [ 0.06576931],
       [ 0.12994421],
       [ 0.04693027],
       [ 1.03585844],
       [ 0.18137087],
       [ 0.27356829],
       [ 0.17491997],
       [ 0.60225909],
       [ 0.57518862],
       [ 0.77151594],
       [ 0.62797855],
       [ 0.37033294],
       [ 0.53674198],
       [ 0.72190158],
       [ 0.58941937],
       [ 0.15568163],
       [ 0.58969218],
       [ 0.55263763],
       [ 1.03230652],
       [ 0.562979  ],
       [ 0.09616043],
       [ 0.6994469 ],
       [ 0.28631488],
       [ 0.58941937],
       [ 0.25832734],
       [ 0.22624635],
       [ 0.35427304],
       [ 0.0961302 ],
       [ 0.25176488],
       [ 0.1129775 ],
       [ 0.57017778],
       [ 0.66036208],
       [ 0.54913486],
       [ 0.40660024],
       [ 0.58501138],
       [ 0.09610651],
       [ 0.91385328],
       [ 0.09616043],
       [ 0.57477834],
       [ 0.12997279],
       [ 0.62580706],
       [ 0.10430889],
       [ 0.64747908],
       [ 0.07864416],
       [ 0.89952385],
       [ 0.25732212],
       [ 0.06375157],
       [ 0.12354641],
       [ 0.67816828],
       [ 0.11359358],
       [ 0.12331689],
       [ 0.06375157],
       [ 0.09629031],
       [ 0.36017143],
       [ 0.28244047],
       [ 0.54914059],
       [ 0.99062967],
       [ 0.62465057],
       [ 0.73731887],
       [ 0.19179586],
       [ 0.16221418],
       [ 0.70973738],
       [ 0.51378697],
       [ 0.7298608 ],
       [ 0.88783888],
       [ 0.01294318],
       [ 0.95135487],
       [ 0.11059886],
       [ 0.06375157],
       [ 0.6576712 ],
       [ 0.14923972],
       [ 0.45055692],
       [ 0.20924718],
       [ 0.13644494],
       [ 0.08506647],
       [ 0.39544384],
       [ 0.54219262],
       [ 0.1114058 ],
       [ 0.01439084],
       [ 0.13640655],
       [ 0.18659732],
       [ 0.31200411],
       [ 0.62825054],
       [-0.07365226],
       [ 0.44393246],
       [ 0.96702782],
       [ 0.30703477],
       [ 0.3017082 ],
       [ 0.39933703],
       [-0.05898564],
       [ 0.47961669],
       [ 0.14928955],
       [ 0.47465408],
       [ 0.22736377],
       [ 1.07352092],
       [ 0.16250009],
       [-0.09256271],
       [ 0.52418802],
       [-0.01295066],
       [ 0.13634691],
       [ 1.00648575],
       [ 0.62821215],
       [ 0.39933703],
       [ 0.58872317],
       [ 0.54913159],
       [ 0.25190503],
       [ 0.79748543],
       [ 0.09595457],
       [ 0.21566949],
       [ 0.55022365],
       [ 0.43186774],
       [ 0.05714028],
       [ 1.0266368 ],
       [ 0.63485175],
       [ 0.0960624 ],
       [ 0.18338616],
       [ 0.09320578],
       [ 0.1623694 ],
       [-0.06600212],
       [ 0.85174734],
       [ 0.84057754],
       [ 0.34349516],
       [ 0.70618744],
       [ 0.79951485],
       [ 0.28631488],
       [ 0.44741693],
       [ 0.99325257],
       [ 0.06375157],
       [ 1.02924719],
       [ 0.22267996],
       [ 0.82037595],
       [ 0.07978433],
       [ 0.16575109],
       [ 0.22209179],
       [ 0.21236596],
       [ 0.47454625],
       [ 0.15648853],
       [ 0.05474584],
       [ 0.41004586],
       [ 0.07860577],
       [ 0.69669118],
       [ 0.66030817],
       [ 0.33078091],
       [ 0.58155597],
       [ 0.55065428],
       [ 0.26832307],
       [ 0.4221889 ],
       [ 0.85403785],
       [ 0.31793629],
       [ 0.5408655 ],
       [ 0.51877398],
       [ 0.3243586 ],
       [ 1.00912054],
       [ 0.1299924 ],
       [ 0.08790435],
       [ 0.09596437],
       [ 0.38166614],
       [ 0.53076923],
       [ 0.3072456 ],
       [ 0.40246409],
       [ 0.54916019],
       [ 0.2686201 ],
       [ 0.87447208],
       [ 0.09616043],
       [ 0.78742795],
       [ 0.15571186],
       [ 0.82258651],
       [ 0.15566203],
       [ 0.88062045],
       [ 0.62794152],
       [ 0.14281741],
       [ 0.54913486],
       [ 0.03185903],
       [ 0.24778103],
       [ 0.39926661],
       [ 1.01958881],
       [ 0.10459877],
       [ 0.0637769 ],
       [ 0.4429356 ],
       [ 0.16209578],
       [ 0.28315557],
       [ 0.22834232],
       [ 0.78726606],
       [ 0.87740778],
       [ 0.86782975],
       [ 0.6573136 ],
       [ 0.40610419],
       [ 0.09612857],
       [ 0.02698841],
       [ 0.35991357],
       [ 0.82464507],
       [ 0.15157041],
       [ 0.7298608 ],
       [ 0.5983608 ],
       [ 0.88915946],
       [ 0.16210966],
       [ 0.53284402],
       [ 0.13669491],
       [ 0.08213959],
       [ 0.0960624 ],
       [ 0.06375157],
       [ 0.1107557 ],
       [ 0.84234357],
       [ 0.15565795],
       [ 0.0071908 ],
       [ 0.15567348],
       [ 0.75869817],
       [ 0.70885186],
       [ 0.35263331],
       [ 0.0961302 ],
       [ 0.46944885],
       [ 0.0960624 ],
       [ 0.58154372],
       [ 0.18152118],
       [ 0.44956388],
       [ 0.06375157],
       [ 1.02464962],
       [ 0.49984589],
       [ 0.16236858],
       [ 0.78766157],
       [ 0.29866936],
       [ 0.17383211],
       [ 0.23707492],
       [ 0.33720321],
       [ 0.62837062],
       [ 0.22538621],
       [ 0.54913486],
       [ 0.7244437 ],
       [ 0.70400371],
       [ 0.05922039],
       [ 0.09600358],
       [ 0.47505367],
       [ 0.1623694 ],
       [ 0.09616043],
       [ 0.47721258],
       [ 0.55072868],
       [ 0.1623694 ],
       [ 0.27803523],
       [ 0.05966151],
       [ 0.12357009],
       [ 0.95772683],
       [ 0.06358561],
       [ 0.48011995],
       [ 0.10429501],
       [ 0.08501255],
       [ 0.3513352 ],
       [ 0.19370187],
       [ 0.13656502],
       [ 0.54913486],
       [ 0.68192973],
       [ 0.42872021],
       [ 0.27481327],
       [ 0.26747301],
       [ 0.43733912],
       [ 0.17509887],
       [ 0.2154977 ],
       [ 0.0960673 ],
       [ 0.50592936],
       [ 0.8889864 ],
       [ 0.63437226],
       [ 0.34208464],
       [ 0.35647014],
       [ 0.11713962],
       [ 0.23970357],
       [ 0.12354641],
       [ 0.1962316 ],
       [ 0.31200411],
       [ 0.45713781],
       [ 0.94021553],
       [ 0.14267119],
       [ 0.78008893],
       [ 0.45033992],
       [ 0.2444775 ],
       [ 0.34411566],
       [ 0.63937004],
       [ 0.48559142],
       [ 0.16236858],
       [ 0.66031784],
       [ 0.11714778],
       [ 0.47629691],
       [ 0.27347026],
       [ 0.08493643],
       [ 0.32205342],
       [ 0.1623694 ],
       [ 0.36289245],
       [ 0.08497417],
       [-0.0388135 ],
       [ 0.93288068],
       [ 0.03592516],
       [ 0.67312828],
       [ 0.31200411],
       [ 0.59812488],
       [ 0.32494676],
       [ 0.76684429],
       [ 0.92834827],
       [ 0.31793629],
       [ 0.37524383],
       [ 0.10229457],
       [ 0.70513618],
       [ 0.34785074],
       [ 0.67881177],
       [ 0.09612694],
       [ 0.06375157],
       [ 0.5339564 ],
       [-0.21833576],
       [ 0.81980822],
       [ 0.76684429],
       [ 0.11729809],
       [ 1.01512541],
       [ 0.4465698 ],
       [ 0.11297831],
       [ 0.6408755 ],
       [ 0.92757223],
       [ 0.35927536],
       [ 0.29301319],
       [ 1.04289961],
       [ 0.34917565],
       [ 0.19640256],
       [ 0.75699621],
       [ 0.97805767],
       [ 0.53317616],
       [ 0.34382158],
       [ 0.32044448],
       [ 0.03842781],
       [ 0.06375157],
       [ 0.09121679],
       [ 0.58280827],
       [ 0.60470962],
       [ 0.28453971],
       [ 0.74823558],
       [ 0.13639102],
       [ 0.11291255],
       [ 0.12330301],
       [ 0.09148351],
       [ 0.53448669],
       [ 0.81874741],
       [ 0.18809933],
       [ 0.1766455 ],
       [-0.05604334],
       [ 0.99460534],
       [ 0.10393805],
       [ 0.86137879],
       [ 0.14923564],
       [ 0.05907665],
       [ 0.98890553],
       [ 0.18569646],
       [ 1.07528533],
       [ 0.56392365],
       [ 0.40870577],
       [ 0.41707696],
       [ 0.27997252],
       [ 0.38908878],
       [ 0.54912914],
       [ 0.69631931],
       [ 0.54913486],
       [ 0.84611305],
       [ 0.59608508],
       [ 0.09616043],
       [ 0.98650217],
       [ 0.04316462],
       [ 0.09616043],
       [ 0.1038357 ]])

In [16]:
def classification(x) :
    if x > 0.5 :
        return 1
    else :
        return 0

In [17]:
result = pd.DataFrame(result, columns = ["Survived"])

In [18]:
result["Survived"] = result["Survived"].apply(lambda x: classification(x))

In [19]:
result = result.join(df_test_y)
result = result[["PassengerId","Survived"]]
result

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [20]:
result.to_csv('./submission.csv',index=False)